<%- include header.ejs%>
<%- include slider.ejs%>
<p>
    <h1>
        ABOUT US
    </h1>
    Established in the year 1992, HAIR SALON in Arera Colony, Bhopal is a top player in the category Salons in the Bhopal. 
    This well-known establishment acts as a one-stop destination servicing customers both local and from other parts of Bhopal. 
    Over the course of its journey, this business has established a firm foothold in it’s industry.
     The belief that customer satisfaction is as important as their products and services, have helped this establishment garner a vast base of customers, which continues to grow by the day. 
     This business employs individuals that are dedicated towards their respective roles and put in a lot of effort to achieve the common vision and larger goals of the company.
     
     In the near future, this business aims to expand its line of products and services and cater to a larger client base. In Bhopal, this establishment occupies a prominent location in Arera Colony. 
     It is an effortless task in commuting to this establishment as there are various modes of transport readily available. It is at , 10 stop, which makes it easy for first-time visitors in locating this establishment.
     The popularity of this business is evident from the 70+ reviews it has received from Justdial users. It is known to provide top service in the following categories: Salons, Beauty Parlours, Beauty Spas For Men, Salons (Premium), Unisex Salons (Premium), Salons (Economy), Unisex Beauty Parlours, Unisex Salons.
</p>
<br><br>

<H2>
        PRODUCT AND SERVICES :
      
</H2>

<P>
        Ideal Family Salon in Arera Colony has a wide range of products and services to cater to the varied requirements of their customers. The staff at this establishment are courteous and prompt at providing any assistance. They readily answer any queries or questions that you may have. Pay for the product or service with ease by using any of the available modes of payment, such as Cash, Visa Card, Debit Card, Cheques, Credit Card, American Express, Master Card. 
        This establishment is functional from 10:00 - 21:00.
</P>
<br><br>
<br>


<p>       <H2> OUR STYLISTS</H2>
  

    <a href="/stylists">
    
      <div class="container">
          <figure class="figure">
              <img src="/images/salon14.jpg" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">Get the best from our stylists</figcaption>
            </figure>
            </div>
        </a>    
    <a href="/stylists">
    
        <div class="container">
            <figure class="figure">
                <img src="/images/men1.jpg"  width="225" height="225" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">Get the best from our stylists</figcaption>
              </figure>
       
     
    </div>
    </a>
    </p>
<%- include footer.ejs%>