

<%- include header.ejs%>
<!DOCTYPE html>
<html>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/images/cons.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  </div>
  <h1>CONTACT US</h1>
  <div class="rightdiv">
  <h2 style="font-size:25px">DILETTANTE SALON<h2>
    <pre style="font-size:20px"><i>
      1122 Thomasville Rd., Ste. 6
      Tallahassee, FL 32303
      Email:   dilettante23@gmail.com
      Contact: 7999048840
</i>
</pre>
    <h2 style="font-size:25px">HOURS<h2>
    <pre style="font-size:20px"><i>
      Monday 9-5
      Tuesday 9-8
      Wednesday 9-8
      Thursday 9-8
      Friday 9-8
      Saturday 9-5
      Sunday Closed
      </i>
  </pre>

</html>
<%- include footer.ejs%>
