<%- include header.ejs%> 
<%- include slider.ejs%>



</div>
<div class="jumbotron">
 <h1 class="display-4"> HAIR SALON</h1>
 <p class="lead">A FUSION OF ART, BEAUTY AND STYLE</p>
 <hr class="my-4">
 <p> What comes to your mind when you think of hair salons and beauty spas? Beauty, elegance, wow-factor, right? 
  We are there to serve you.“ We provide an experience for your customers, not just a service,” 
  We have got easy, trending hair styles for you....and its all you need for a sexy look.
  Hair keeps growing and it needs to be cut ,so why not do it in the best way possible.
</p>
 <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>


<br><br>




<div class="card-deck">
  <div class="card">
    <img src="/images/m1.jpg"   height="225" width="150" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">MEN</h5>
      <p class="card-text"> Get the best of looks now!</p>
      <a href="/men" class="btn btn-primary">GET THE LOOKS</a>
    </div>
    <div class="card">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="/images/f2.jpg"  height="225" width="150" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">WOMEN</h5>
                <p class="card-text">Be it the funny girl or the sexy woman look...we have got all</p>
                <a href="/woman" class="btn btn-primary">GET THE LOOKS</a>
              </div>

    <div class="card">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <div class="card" style="width: 18rem;">
      <img src="/images/header3.jpg" height="225" width="225" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BOOKINGS</h5>
        <p class="card-text">Just 5 min is all you need to get your favourite look./p>
        <a href="/appointments" class="btn btn-primary">BOOK NOW</a>
      </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
 
<br><br>
 
  <%- include footer.ejs%>
  </body>
</html>
