<%-  include header.ejs%>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/images/mm.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/boy2.jpg" class="d-block w-100" alt="...">
    </div>
    
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">GENTS SPECIAL</h1>
      <p class="lead"> Styling has never been limited to women. The art of looking handsome and getting makeovers has its own story for men and one cannot imagine the number of styles and treatments that can be done on these hunks. Moreover, the desire to have a unique identity is everyone's' want and Looks Salon makes that possible. From grooming to beauty sessions, we offer a wide range of services and treatments that every man wishes to get. Our professionally trained stylists and experts leave no stone unturned to give you the best look that would do all the talking and make your style better than the best!
        
          Not only that, our experts would happily give you tips and tricks to sustain that long desired style to make you feel confident and rule the world. Look Salon is a proud and award winning salon chain that has over 95 branches nationally and internationally to help people give them the 'Perfect Look' and flaunt it in style. Our experts are constantly updated with latest trends in the fashion world and even help you suggest the best look according to your personality and while we're giving you your desired look, we also ensure that you have a very fruitful visit to the salon. Bring all your beauty and hair questions to us and get them answered at Looks Salon. We make sure that we are using the right product and technology for your services and thus you can be sure that you are availing a world-class service.
          
          So wait no more, book your appointment today through our website or contact the nearest Looks Salon and experience the magnificent way of transforming yourself.</p>
       </div> </div>   

       <div class="container">
          <table class="table table-borderless table-dark">
              <thead>
                <tr>
                  <th scope="col">FACIALS</th>
                  <th scope="col">HAIRCOLOURING</th>
                  <th scope="col"> HAIRCUTS</th>
                  <th scope="col">HAIRSTYLING</th>
                  <th scope="col">HAIRTREATMENT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Cleanup</th>
                  <td>HairHighlights</td>
                  <td>HeadMassage</td>
                  <td>Straightning</td>
                  <td>Keratin</td>
                </tr>
                <tr>
                  <th scope="row">Luxuary facial</th>
                  <td>FullColouring</td>
                  <td>HairCut</td>
                  <td>Curling</td>
                  <td>HairSpa</td>
                </tr>
                <tr>
                  <th scope="row">Bleach</th>
                  <td colspan="2">BeardColouring</td>
                  <td>Shampoo and Conditioning</td>
                  
                  <td>Voluminising</td>
                  
                </tr>
                <tr>
                    <th scope="row">Threading</th>
                    <td colspan="2"></td>
                    <td>BeardGrooming</td>
                  </tr>
                  
              </tbody>
            </table>
        </div>
       


       <%-  include footer.ejs%>

