<%-include header.ejs%>
<h1>OUR STYLIST<h1>
  <div class="card-group">
  <div class="card">
    <img src="/images/p.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">GORY GLADER</h5>
      <p class="card-text" style="color:#808000;font-size:20px"><i>owner & stylist</i></p>
    </div>
    <div class="card-footer">
      <small class="text-muted" style="font-size:15px">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="/images/p1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">KELLY PEYTON</h5>
      <p class="card-text" style="color:#808000;font-size:20px"><i>owner & stylist</i></p>
    </div>
    <div class="card-footer">
      <small class="text-muted" style="font-size:15px">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="/images/p2.jpg" style="image-size:40px"class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">DEREK FORTIN</h5>
      <p class="card-text" style="color:#808000;font-size:20px"><i>stylist</i></p>
    </div>
    <div class="card-footer">
      <small class="text-muted" style="font-size:15px">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

<%-include footer.ejs%>
