<%- include header.ejs%>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/images/mmm.jpg"  class="d-block w-100" alt="...">
    </div>
    
    
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
 
  <h1 class="display-4">LADIES SPECIAL</h1>
      <p class="lead">

          Explore the art of looking your best beautiful with the best in the industry. Looks Salon makes a personal commitment to realize the prevalent gap in the industry by providing access to high-end ladies salon services, that to at convenient times and affordable prices - any day of the week and any time of the day! You can count on us for a hassle-free appointment.
          
          Looks Salon is an Award-winning Salon Chain which has over 90 branches across India and Dubai. We are also one of the largest and fastest-growing Salon Chains in India. We have been at the forefront of setting new benchmarks and exceeding Industry standards.
          
          When you avail our services, we ensure that you are completely delighted with your style. Before our team of experienced, professional, and affable stylists works its magic, they’ll go through a thorough consultation to understand your preferences and style goals. We don’t start till we are clear of what you want.
          
          At Looks Salon, our stylists have been rigorously trained to give you a unique and personalized experience. Our creative hair stylists and beauty experts work meticulously to give you a head turning look. Be it a haircut focused on highlighting your best features or a hair color that would make you stand out and shine, we work wholeheartedly towards meeting your requirements and enhancing your look.
          
          With a keen eye for detail, Looks Salon offers you varied options to provide proper care to your body, hair and skin. With our excellent range of Hair styling, Make Up, Hair Texture, Hair treatments, Facials, Hand and feet, Nail care services, we assure you the ‘Superfect’ dreamy look. Whether it’s overseeing client satisfaction for everyone who enters the salon or the magnificent interior that catches every onlookers fancy, Looks Salon possesses an infinite enthusiasm for keeping abreast with latest technologies and trends.
          
          Visit us for all your beauty needs. You can also book an appointment by either filling the form on our website or by simply giving us a call. Book now for the best in class services!
          </p>
    </div>
  </div>

  <div class="container">
      <table class="table table-borderless table-dark">
          <thead>
            <tr>
              <th scope="col">FACIALS</th>
              <th scope="col">HAIRCOLOURING</th>
              <th scope="col"> HAIRCUTS</th>
              <th scope="col">HAIRSTYLING</th>
              <th scope="col">HAIRTREATMENT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Cleanup</th>
              <td>HairHighlights</td>
              <td>BlowDry</td>
              <td>Straightning</td>
              <td>Keratin</td>
            </tr>
            <tr>
              <th scope="row">Luxuary facial</th>
              <td>FullColouring</td>
              <td>HairCut</td>
              <td>Curling</td>
              <td>HairSpa</td>
            </tr>
            <tr>
              <th scope="row">Bleach</th>
              <td colspan="2"></td>
              <td>Shampoo and Conditioning</td>
              
              <td>Voluminising</td>
              
            </tr>
            <tr>
                <th scope="row">Threading</th>
                <td colspan="2"></td>
                <td>RootTreatment</td>
              </tr>
              
          </tbody>
        </table>
    </div>

<%- include footer.ejs%>